<div class="border-form-div">
<h2>Sign up</h2>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
 <%= f.hidden_field :invitation_token %>
  <p>
  <!-- <%= f.label :first_name %><br /> -->
  <%= f.text_field :first_name, :autofocus => true, :placeholder => "First Name" %>
</p>

 <p>
  <!-- <%= f.label :family_name %><br /> -->
  <%= f.text_field :family_name, :placeholder => "Family name" %>
</p>
<!-- 
 <p>
  <%= f.label :trello %><br />
  <%= f.text_field :trello %>
</p> -->



  <p>
  <!-- <%= f.label :email %><br /> -->
  <%= f.email_field :email, :placeholder => "Email address" %>
</p>

<p>
  <!-- <%= f.label :password %><br /> -->
  <%= f.password_field :password, :placeholder => "password" %>
</p>

<p>
  <!-- <%= f.label :password_confirmation %><br /> -->
  <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
</p>
 <!-- <p class = "button"><%= f.submit %></p> -->
     <%= f.submit "Sign me up",:class=>'btn btn-primary' %>
<% end %>
</div>





