<% if current_user %>

<div class="container-fluid">
  <input type="hidden" class="projectSel"></input>
  <input type="hidden" class="goalSel"></input>

 <div class="row">
    <div class="col-sm-3">
      <%= render "control" %>

      <%= render "heat_map" %>

      <%= render "checklist" %>

    </div>

    <%= render "tasks" %>

    <%= render "new_job" %>

    <%= render "comments" %>

  </div>
                  

<div id="new-project-modal" title="New Project" class="modal-dialog">
  <label for="name">Project Name</label></br>
  <input type="text" name="name" id="project-name" class="text ui-widget-content ui-corner-all" placeholder="Project name">
<br/>
   <label for="name">First Goal Name</label></br>
  <input type="text" name="name" id="first-goal-name" class="text ui-widget-content ui-corner-all" placeholder="First goal name">
</div>

<div id="new-goal-modal" title="New Goal" class="modal-dialog">
  <input type="hidden" class="goalproject_id">
  <label for="name">Goal Name</label>
  <input type="text" name="name" id="goal-name" class="text ui-widget-content ui-corner-all">
</div>

<div id="new-comment-modal" title="New note for" class="modal-dialog">
  <input type="hidden" class="taskComment_id">  
  <textarea name="name" id="comment-text" class="text ui-widget-content ui-corner-all" placeholder="Add a note"></textarea>
   <div class="control-group comment_type-options">
            <label>Note Type</label>
            <div class="controls">
              <select class="form-control" id="type-select"><option>options</option>
                <option>options2</option>
              </select>
            </div>
          </div>  
</div>


<% else %>

  <%= render "landing" %>

<% end %>

            

