<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @checklist_item.name %>
</p>

<p>
  <b>Completed:</b>
  <%= @checklist_item.completed %>
</p>

<p>
  <b>Checklist:</b>
  <%= @checklist_item.checklist_id %>
</p>


<%= link_to 'Edit', edit_checklist_item_path(@checklist_item) %> |
<%= link_to 'Back', checklist_items_path %>
